# Web framework and server
fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg2-binary

# Async & Background
celery==5.3.6
redis==5.0.3

# Data validation & parsing
pydantic==1.10.12
python-multipart

# HL7 and DICOM
hl7apy
hl7
pydicom
highdicom==0.21.0

# Document parsing
python-docx
PyMuPDF
PyPDF2
python-magic

# FHIR support
fhir.resources==7.0.1

# JWT Authentication
python-jose[cryptography]

# Testing
pytest
pytest-asyncio
httpx
